.array-container {
  position: absolute;
  display: inline-block;
  width: 100%;
  bottom: 0%;
  height: 90%;
  z-index: 0;
}

.array-bar {
  background-color: powderblue;
  display: inline-block;
  margin: 0 0px;
}

.navbar {
  z-index: 1;
}
